[Desktop Entry]
Name=MonKey
GenericName=Keyboard Automation
Comment=Switch application windows fast
Exec={exec}
Terminal=false
Type=Application
Icon={icon}
Categories=GNOME;GTK;Utility;
